# Common files
*.class
*.log

# IDEA files
/video-tool/.bsp/
/video-tool/.idea/
/video-tool/out/

# Eclipse files
.project
.classpath
.metadata
.cache
bin/

# Compiled outputs
/video-tool/target/
/video-tool/project/target/
/video-tool/project/build.properties
/video-tool/project/project/
